<!DOCTYPE html>
<html ng-app="quoteBook">
	<head>
		<title>Quote Book</title>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>

	<body ng-controller="mainCtrl">

		<div class='title'>
			Quotes
		</div>

		<div class="buttons">
			<input ng-model="addQuote" ng-show="isVisibleAdd" type="text" placeholder="Add a quote..." />
			<input ng-model="addAuthor" ng-show="isVisibleAdd" type="text" placeholder="Add the author..." />
			<button ng-click="addData()" type="submit" ng-show="isVisibleAdd">Add Quote</button>
			<i ng-click="toggleAdd()" class="fa fa-arrow-circle-right" ng-hide="isVisibleAdd"></i>
			<i ng-click="toggleAdd()" class="fa fa-arrow-circle-right fa-rotate-180" ng-show="isVisibleAdd"></i>

			<br />
			
			<input ng-model="removeQuote" ng-show="isVisibleRemove" type="text" placeholder="Remove a quote..." />
			<button ng-click="removeData()" type="submit" ng-show="isVisibleRemove">Remove Quote</button>
			<i class="fa fa-arrow-circle-right" ng-hide="isVisibleRemove" ng-click="toggleRemove()" ></i>
			<i class="fa fa-arrow-circle-right fa-rotate-180" ng-show="isVisibleRemove" ng-click="toggleRemove()" ></i>
			
			<br />
			
			<input ng-model="searchText" ng-show="isVisibleFilter" class="filterBy" type="text" placeholder="Filter" />
			<button ng-click="filter()" type="submit" ng-show="isVisibleFilter">Filter</button>
			<i ng-click="toggleFilter()" class="fa fa-arrow-circle-right" ng-hide="isVisibleFilter"></i>
			<i ng-click="toggleFilter()" class="fa fa-arrow-circle-right fa-rotate-180" ng-show="isVisibleFilter"></i>
		</div>

		<div>
		<ul>
			<li ng-repeat="item in quotes | filter : searchText">
				Quote: {{ item.text }}
				<br />
				Author: {{ item.author }}
			</li>
		</ul>
	</div>
	

		<script src="http://code.angularjs.org/1.1.5/angular.js" type="text/javascript"></script>
		<script src="js/app.js" type="text/javascript"></script>
		<script src="js/dataService.js" type="text/javascript"></script>
		<script src="js/mainCtrl.js" type="text/javascript"></script>
		<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
		<script>
			// var myDataRef = new Firebase('https://ahaz7fdkeh2.firebaseio-demo.com/');
			// myDataRef.push('{{ quotes.text }}');
		</script>
	</body>
</html>











